<html>
    <head>
        {% if title %} 
        <title>{{ title }} - WebApp</title>
        {% else %} <!-- if title variable is not provided -->
        <title>ClassroomLEDs WebApp</title>
        {% endif %}
    </head>
    <body> <!-- Content on the page -->
        <div>
            WebApp: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %} <!-- Gets block content from index.html -->
    </body>
</html>
